Repository alnavarrop99/prestamos: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, vitest related --run, stylelint

.lintstagedrc.json:

{
  "**/*": ["prettier --write"],
  "src/**/*.ts": ["eslint"],
  "src/**/*.(test|spec).ts": ["vitest related --run", "eslint"],
  "src/**/*.tsx": ["eslint"],
  "src/**/*.css": ["stylelint"]
}

chore: config shadcn - component lib
  components.json
  package.json
  src/components/ui/button.stories.tsx
  src/components/ui/button.tsx
  src/index.css
  src/lib/hook/.gitkeep
  src/lib/utils.ts
  src/routeTree.gen.ts
  src/utils/.gitkeep
  src/utils/hook/.gitkeep
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint, stylelint

feat: init router
  src/lib/render.tsx
  src/pages/-root.stories.tsx
  src/pages/.gitkeep
  src/pages/__404.tsx
  src/pages/__root.tsx
  src/pages/_layout.tsx
  src/pages/_layout/-nav.stories.tsx
  src/pages/_layout/client.tsx
  src/pages/_layout/credit.tsx
  src/pages/_layout/index.tsx
  src/pages/_layout/user.tsx
  src/pages/login.tsx
  src/routeTree.gen.ts
  tailwind.config.js
Due: prettier --write, eslint

chore: add component @shadcn
  package.json
Due: prettier --write

feat: add alort comp
  src/components/ui/alert.stories.tsx
  src/components/ui/alert.tsx
Due: prettier --write, eslint

feat: add avatar comp
  src/components/ui/avatar.stories.tsx
  src/components/ui/avatar.tsx
Due: prettier --write, eslint

feat: add badge comp
  src/components/ui/badge.stories.tsx
  src/components/ui/badge.tsx
Due: prettier --write, eslint

feat: add calendar comp
  src/components/ui/calendar.stories.tsx
  src/components/ui/calendar.tsx
Due: prettier --write, eslint

feat: add card comp
  src/components/ui/card.stories.tsx
  src/components/ui/card.tsx
Due: prettier --write, eslint

feat: add checkbox comp
  src/components/ui/checkbox.stories.tsx
  src/components/ui/checkbox.tsx
Due: prettier --write, eslint

feat: add date-picker comp
  src/components/ui/date-picker.stories.tsx
  src/components/ui/date-picker.tsx
Due: prettier --write, eslint

feat: add dialog comp
  src/components/ui/dialog.stories.tsx
  src/components/ui/dialog.tsx
Due: prettier --write, eslint

feat: add input comp
  src/components/ui/input.stories.tsx
  src/components/ui/input.tsx
Due: prettier --write, eslint

feat: add label comp
  src/components/ui/label.stories.tsx
  src/components/ui/label.tsx
Due: prettier --write, eslint

feat: add popover comp
  src/components/ui/popover.stories.tsx
  src/components/ui/popover.tsx
Due: prettier --write, eslint

feat: add progress comp
  src/components/ui/progress.stories.tsx
  src/components/ui/progress.tsx
Due: prettier --write, eslint

feat: add radio-group comp
  src/components/ui/radio-group.stories.tsx
  src/components/ui/radio-group.tsx
Due: prettier --write, eslint

feat: select comp
  src/components/ui/select.stories.tsx
  src/components/ui/select.tsx
Due: prettier --write, eslint

feat: separator comp
  src/components/ui/separator.stories.tsx
  src/components/ui/separator.tsx
Due: prettier --write, eslint

feat: sokeleton comp
  src/components/ui/skeleton.stories.tsx
  src/components/ui/skeleton.tsx
Due: prettier --write, eslint

feat: create slider comp
  src/components/ui/slider.stories.tsx
  src/components/ui/slider.tsx
Due: prettier --write, eslint

feat: create switch comp
  src/components/ui/switch.stories.tsx
  src/components/ui/switch.tsx
Due: prettier --write, eslint

feat: create table comp
  src/components/ui/table.stories.tsx
  src/components/ui/table.tsx
Due: prettier --write, eslint

feat: create dropdown-menu comp
  src/components/ui/dropdown-menu.stories.tsx
  src/components/ui/dropdown-menu.tsx
Due: prettier --write, eslint

feat: create toast comp
  src/components/ui/toast/index.ts
  src/components/ui/toast/toast.stories.tsx
  src/components/ui/toast/toast.tsx
  src/components/ui/toast/toaster.tsx
  src/components/ui/toast/use-toast.ts
Due: prettier --write, eslint

feat: create textarea comp
  src/components/ui/textarea.stories.tsx
  src/components/ui/textarea.tsx
Due: prettier --write, eslint

fix: upadte comp
  src/components/ui/alert.stories.tsx
  src/components/ui/avatar.stories.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/calendar.stories.tsx
  src/components/ui/card.stories.tsx
  src/components/ui/checkbox.stories.tsx
  src/components/ui/date-picker.stories.tsx
  src/components/ui/dialog.stories.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/label.stories.tsx
  src/components/ui/popover.stories.tsx
  src/components/ui/progress.stories.tsx
  src/components/ui/radio-group.stories.tsx
  src/components/ui/select.stories.tsx
Due: prettier --write, eslint

feat: add @shadcn dep
  package.json
Due: prettier --write

fix: create storie icons
  src/components/ui/icons.stories.tsx
Due: prettier --write, eslint

feat: create login page
  src/pages/-root.stories.tsx
  src/pages/__root.tsx
  src/pages/login.tsx
Due: prettier --write, eslint

style: move teast to into components
  src/components/ui/toast.stories.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
Due: prettier --write, eslint

feat: add rememberme chock to login
  src/pages/login.tsx
Due: prettier --write, eslint

feat: create 404 page
  src/pages/__404.tsx
Due: prettier --write, eslint

feat: create _layout to root route
  src/components/ui/toast/index.ts
  src/components/ui/toast/toast.stories.tsx
  src/components/ui/toast/toast.tsx
  src/components/ui/toast/toaster.tsx
  src/components/ui/toast/use-toast.ts
  src/lib/utils.ts
  src/pages/_layout.tsx
  src/pages/_layout/-nav.stories.tsx
  src/styles/global.module.css
Due: prettier --write, eslint, stylelint

feat: add burger menu function
  src/pages/_layout.tsx
  src/styles/global.module.css
Due: prettier --write, eslint, stylelint

feat: add calendar button to short menu
  src/pages/_layout.tsx
Due: prettier --write, eslint

fix: remove portal in calendar layout
  src/pages/_layout.tsx
  src/styles/global.module.css
Due: prettier --write, eslint, stylelint

feat: create search actions
  src/__mock__/mocks-clients.json
  src/pages/_layout.tsx
  src/pages/_layout/user.tsx
  src/pages/_layout/user/$id.tsx
  src/routeTree.gen.ts
  src/styles/global.module.css
Due: prettier --write, eslint, stylelint

feat: create clients view
  package.json
  src/lib/context/layout.ts
  src/pages/_layout.tsx
  src/pages/_layout/client.tsx
  src/pages/_layout/credit.tsx
  src/pages/_layout/index.tsx
  src/pages/_layout/user.tsx
Due: prettier --write, eslint

feat: create new clients page
  src/pages/_layout/client.tsx
  src/pages/_layout/client/-client.stories.tsx
  src/pages/_layout/client/new.module.css
  src/pages/_layout/client/new.tsx
  src/routeTree.gen.ts
Due: prettier --write, eslint, stylelint

feat: create update/view clients page
  src/lib/context/client.ts
  src/lib/context/layout.ts
  src/pages/_layout.tsx
  src/pages/_layout/client.tsx
  src/pages/_layout/client/$clientId.update.tsx
  src/pages/_layout/client/-client.stories.tsx
  src/pages/_layout/client/new.module.css
  src/pages/_layout/user/$userId.tsx
  src/routeTree.gen.ts
Due: prettier --write, eslint, stylelint
